<!-- views/partials/list.ejs -->
<ul class="album-list" data-list="<% if (isLiked) { %>js-liked<% } else if (isDisliked) { %>js-disliked<% } else { %>js-current<% } %>">
	<li class="album-list-item album-heading">
		<div class="js-toggle-visibility">
			<%- include('../icons/eye-solid.svg'); %>
			<%- include('../icons/eye-slash-solid.svg'); %>
		</div>
		<span class="album-artist">Artist/Band</span>
		<span class="album-name">Album Name</span>
	</li>
	<% for(var i = 0; i < albums.length; i++) {%>
	<li class="album-list-item">
		<div class="img-container">
			<img src="<%= albums[i].image %>" alt="" />
		</div>
		
		<div class="album-details">
			<span class="name"><%= albums[i].album %></span>
			<span class="artist"><%= albums[i].name %></span>
		</div>
		<div class="edit-controls hidden">
			<form action="/update-album" method="POST">
				<input
					type="text"
					name="album-artist"
					value="<%= albums[i].name %>"
				/>
				<input
					type="text"
					name="album-name"
					value="<%= albums[i].album %>"
				/>
				<input
					type="hidden"
					name="album-id"
					value="<%= albums[i]._id %>"
				/>
				<button class="js-save" type="submit">
					<%- include('../icons/save.svg'); %>
				</button>
			</form>
			<button class="js-cancel">
				<%- include('../icons/cancel.svg'); %>
			</button>
		</div>
		<% if (!readOnly) { %>
		<div class="album-controls">
			<button
				class="js-liked<%- isLiked ? ' is-set' : '' %>"
				data-id="<%= albums[i]._id %>"
				data-status="liked"
			>
				<%- include('../icons/liked.svg'); %>
			</button>
			<button
				class="js-disliked<%- isDisliked ? ' is-set' : '' %>"
				data-id="<%= albums[i]._id %>"
				data-status="disliked"
			>
				<%- include('../icons/disliked.svg'); %>
			</button>
			<button class="js-update">
				<%- include('../icons/update.svg'); %>
			</button>
			<button
				class="js-delete"
				data-id="<%= albums[i]._id %>"
				data-album="<%= albums[i].name %> - <%= albums[i].album %>"
			>
				<%- include('../icons/delete.svg'); %>
			</button>
		</div>
		<% } %>
	</li>
	<% } %>
</ul>
