<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Music Discovery Tracker</title>
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>
		<main class="bg-color-purple">
			<div class="container pull-to-front">
				<h1>Music Discovery Tracker</h1>
				<h2 class="tagline">
					Track the new music you are listen to and judge it
					accordingly!
				</h2>
				<h3><%= archiveDate %> Archive</h3>
			</div>
			<div class="bg-color-transparent padding-1">
				<div class="container pull-to-front">
					<div id="current">
						<div class="list-heading">
							<h3>Current Album List</h3>
							<button class="show-button">
								<%- include('icons/eye-solid.svg'); %>
							</button>
							<button class="hide-button hide">
								<%- include('icons/eye-slash-solid.svg'); %>
							</button>
						</div>

						<ul>
							<li class="album album-heading grid-row">
								<div class="read-album">
									<span class="album-artist"
										>Artist/Band</span
									>
									<span class="album-name">Album Name</span>
								</div>
							</li>
							<% for(var i = 0; i < albums.length; i++) {%>
							<li class="album grid-row">
								<div class="read-album">
									<span class="album-artist"
										><%= albums[i].name %></span
									>
									<span class="album-name"
										><%= albums[i].album %></span
									>
								</div>
							</li>
							<% } %>
						</ul>
					</div>
					<div id="liked">
						<div class="list-heading">
							<h3>Liked</h3>
							<button class="show-button">
								<%- include('icons/eye-solid.svg'); %>
							</button>
							<button class="hide-button hide">
								<%- include('icons/eye-slash-solid.svg'); %>
							</button>
						</div>
						<ul>
							<li class="album album-heading grid-row">
								<div class="read-album">
									<span class="album-artist"
										>Artist/Band</span
									>
									<span class="album-name">Album Name</span>
								</div>
							</li>
							<% for(var i = 0; i < liked.length; i++) {%>
							<li class="album grid-row">
								<div class="read-album">
									<span class="album-artist"
										><%= liked[i].name %></span
									>
									<span class="album-name"
										><%= liked[i].album %></span
									>
								</div>
							</li>
							<% } %>
						</ul>
					</div>
					<div id="disliked">
						<div class="list-heading">
							<h3>Disliked</h3>
							<button class="show-button">
								<%- include('icons/eye-solid.svg'); %>
							</button>
							<button class="hide-button hide">
								<%- include('icons/eye-slash-solid.svg'); %>
							</button>
						</div>
						<ul>
							<li class="album album-heading grid-row">
								<div class="read-album">
									<span class="album-artist"
										>Artist/Band</span
									>
									<span class="album-name">Album Name</span>
								</div>
							</li>
							<% for(var i = 0; i < disliked.length; i++) {%>
							<li class="album grid-row">
								<div class="read-album">
									<span class="album-artist"
										><%= disliked[i].name %></span
									>
									<span class="album-name"
										><%= disliked[i].album %></span
									>
								</div>
							</li>
							<% } %>
						</ul>
					</div>
					<div id="archive">
						<div class="list-heading">
							<h3>Archived</h3>
							<button class="show-button">
								<%- include('icons/eye-solid.svg'); %>
							</button>
							<button class="hide-button hide">
								<%- include('icons/eye-slash-solid.svg'); %>
							</button>
						</div>
						<ul>
							<% for (var prop in archiveDates) { %>
							<li>
								<a
									href="archive?date=<%= prop %>"
									data-id="<%= prop %>"
									><%= archiveDates[prop] %></a
								>
							</li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
			<div class="transparent-overlay"></div>
		</main>
		<footer>
			<a href="/" class="pull-to-front">Return to Current List</a>
			<form class="pull-to-front" action="logout" method="POST">
				<button type="submit">Logout</button>
			</form>
		</footer>
		<script src="/main.js"></script>
	</body>
</html>
