<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Music Discovery Tracker</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Otomanopee+One&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="skeleton.css">
	<link rel="stylesheet" href="main.css">
</head>
<body>
	<h1>Music Discovery Tracker</h1>
	<h2 class="tagline">Track the music you are listening to. Add an album to your queue and then remove it when you are done listening to it!</h2>
	<h3>Add An Album</h3>
	<form action="/add-album" method="POST">
		<input type="text" placeholder="Name of Artist/Band" name="name">
		<input type="text" placeholder="Name of Album" name="album">
		<button type="submit">Submit</button>
	</form>
	<hr>
	<h3>Current Album List</h3>
	<ul>
		<% for(var i = 0; i < albums.length; i++) {%>
		<li class="album">
			<div class="read-album">
				<span class="album-artist"><%= albums[i].name %>:</span>
				<span class="album-name"><%= albums[i].album %></span>
			</div>
			<div class="edit-album hide">
				<form action="/update-album" method="POST">
					<input type="text" name="album-artist" value="<%= albums[i].name %>">
					<input type="text" name="album-name" value="<%= albums[i].album %>">
					<input type="hidden" name="album-id" value="<%= albums[i]._id %>">
					<button class="save-button" type="submit">Save</button>
				</form>
				<button class="cancel-button">Cancel</button>
			</div>
			<button class="update-button">Update</button>
			<button class="delete-button" data-id="<%= albums[i]._id %>">Delete</button>
		</li>
		<% } %>
	</ul>
    <script src="/main.js"></script>
</body>
</html>
