<!DOCTYPE html>
<html lang="en">
	<%- include( 'partials/metadata.ejs' ) %>
	<body>
		<main class="bg-color-pink">
			<%- include( 'partials/title.ejs' ) %>
			<div class="bg-color-transparent padding-1">
				<div class="container pull-to-front">
					<h3>Add An Album</h3>
					<form
						class="grid-row add-album"
						action="/add-album"
						method="POST"
					>
						<input
							type="text"
							placeholder="Name of Artist/Band"
							name="name"
						/>
						<input
							type="text"
							placeholder="Name of Album"
							name="album"
						/>
						<button type="submit">
							<svg
								aria-hidden="true"
								focusable="false"
								data-prefix="far"
								data-icon="plus-square"
								class="svg-inline--fa fa-plus-square fa-w-14"
								role="img"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 448 512"
							>
								<path
									fill="currentColor"
									d="M352 240v32c0 6.6-5.4 12-12 12h-88v88c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-88h-88c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h88v-88c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v88h88c6.6 0 12 5.4 12 12zm96-160v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"
								></path>
							</svg>
						</button>
					</form>
					<div id="current">
						<div class="list-heading">
							<h3>Current Album List</h3>
							<button class="show-button">
								<%- include('icons/eye-solid.svg'); %>
							</button>
							<button class="hide-button hide">
								<%- include('icons/eye-slash-solid.svg'); %>
							</button>
						</div>
						<%- include( 'partials/list.ejs', { albums, isLiked:
						false, isDisliked: false } ) %>
					</div>
					<div id="liked">
						<div class="list-heading">
							<h3>Liked</h3>
							<button class="show-button">
								<%- include('icons/eye-solid.svg'); %>
							</button>
							<button class="hide-button hide">
								<%- include('icons/eye-slash-solid.svg'); %>
							</button>
						</div>
						<%- include( 'partials/list.ejs', { albums: liked,
						isLiked: true, isDisliked: false } ) %>
					</div>
					<div id="disliked">
						<div class="list-heading">
							<h3>Disliked</h3>
							<button class="show-button">
								<%- include('icons/eye-solid.svg'); %>
							</button>
							<button class="hide-button hide">
								<%- include('icons/eye-slash-solid.svg'); %>
							</button>
						</div>
						<%- include( 'partials/list.ejs', { albums: disliked,
						isLiked: false, isDisliked: true } ) %>
					</div>
					<div id="archive">
						<div class="list-heading">
							<h3>Archived</h3>
							<button class="show-button">
								<%- include('icons/eye-solid.svg'); %>
							</button>
							<button class="hide-button hide">
								<%- include('icons/eye-slash-solid.svg'); %>
							</button>
						</div>
						<ul>
							<% for (var prop in archiveDates) { %>
							<li>
								<a
									href="archive?date=<%= prop %>"
									data-id="<%= prop %>"
									><%= archiveDates[prop] %></a
								>
							</li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
			<div class="transparent-overlay"></div>
		</main>
		<footer>
			<button id="archive-button" class="pull-to-front">
				Archive & Clear
			</button>
			<form class="pull-to-front" action="logout" method="POST">
				<button type="submit">Logout</button>
			</form>
		</footer>
		<%- include( 'partials/scripts.ejs' ) %>
	</body>
</html>
