<!DOCTYPE html>
<html lang="en">
	<%- include( 'partials/metadata.ejs' ) %>
	<body>
		<main class="bg-color-pink">
			<%- include( 'partials/title.ejs' ) %>
			<div class="bg-color-transparent padding-1">
				<div class="container pull-to-front">
					<div id="current">
						<div class="list-heading">
							<h3>Current Album List</h3>
						</div>
						<%- include( 'partials/list.ejs', { albums, isLiked:
						false, isDisliked: false, readOnly: true } ) %>
					</div>
					<div id="liked">
						<div class="list-heading">
							<h3>Liked</h3>
						</div>
						<%- include( 'partials/list.ejs', { albums: liked,
						isLiked: true, isDisliked: false, readOnly: true } ) %>
					</div>
					<div id="disliked">
						<div class="list-heading">
							<h3>Disliked</h3>
						</div>
						<%- include( 'partials/list.ejs', { albums: disliked,
						isLiked: false, isDisliked: true, readOnly: true } ) %>
					</div>
					<div id="archive">
						<div class="list-heading">
							<h3>Archived</h3>
						</div>
						<ul>
							<% for (var prop in archiveDates) { %>
							<li>
								<a
									href="archive?date=<%= prop %>"
									data-id="<%= prop %>"
									><%= archiveDates[prop] %></a
								>
							</li>
							<% } %>
						</ul>
					</div>
				</div>
			</div>
			<div class="transparent-overlay"></div>
			<footer class="pull-to-front">
				<a href="/login">Login</a>
			</footer>
			
		</main>
		<%- include( 'partials/scripts.ejs' ) %>
	</body>
</html>
